<div class="container">
    <h1 class="text-center">Recetas</h1>
    <div class="row">
        <div class="col-md-4" >
            <div class="card mb-3">
                <img src="../../../../assets/img/recetas/24.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h3 class="card-title">Pescado en Salsa Negra</h3>
                  <button class="btn btn-info"> <a routerLink="details">Detalles</a></button> 
                  <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
                  <p class="card-text"><small class="text-body-secondary">N° 24</small></p>
                </div>
            </div>
        </div>
        <div class="col-md-4" >
            <div class="card mb-3">
                <img src="../../../../assets/img/recetas/24.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h3 class="card-title">Pescado en Salsa Negra</h3>
                  <button class="btn btn-info"> <a routerLink="details">Detalles</a></button> 
                  <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
                  <p class="card-text"><small class="text-body-secondary">N° 24</small></p>
                </div>
            </div>
        </div>
        <div class="col-md-4" >
            <div class="card mb-3">
                <img src="../../../../assets/img/recetas/24.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h3 class="card-title">Pescado en Salsa Negra</h3>
                  <button class="btn btn-info"> <a routerLink="details">Detalles</a></button> 
                  <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
                  <p class="card-text"><small class="text-body-secondary">N° 24</small></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4" >
            <div class="card mb-3">
                <img src="../../../../assets/img/recetas/24.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h3 class="card-title">Pescado en Salsa Negra</h3>
                  <button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">Open first modal</button>
                  <!-- <button class="btn btn-info" data-bs-target="#exampleModalToggle" data-bs-toggle="modal"> <a routerLink="details">Detalles</a></button>  -->
                  <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
                  <p class="card-text"><small class="text-body-secondary">N° 24</small></p>
                  <!-- <button mat-button [matMenuTriggerFor]="menu" #menuTrigger>Menu</button>
                    <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="openDialog()">Open dialog</button>
                    </mat-menu> -->
                    <button (click)="ActualizarProducto()" mat-raised-button color="primary" ><b>Editar</b></button>
                    <!-- <button (click)="ActualizarEmpleado(element)" mat-raised-button color="primary" ><b>Editar</b></button> -->
                </div>
            </div>
        </div>
        <div class="col-md-4" >
            <div class="card mb-3">
                <img src="../../../../assets/img/recetas/24.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h3 class="card-title">Pescado en Salsa Negra</h3>
                  <button class="btn btn-info"> <a routerLink="details">Detalles</a></button> 
                  <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
                  <p class="card-text"><small class="text-body-secondary">N° 24</small></p>
                </div>
            </div>
        </div>
        <div class="col-md-4" >
            <div class="card mb-3">
                <img src="../../../../assets/img/recetas/24.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h3 class="card-title">Pescado en Salsa Negra</h3>
                  <button class="btn btn-info"> <a routerLink="details">Detalles</a></button> 
                  <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
                  <p class="card-text"><small class="text-body-secondary">N° 24</small></p>
                </div>
            </div>
        </div>
    </div>
</div>

