// *{
//     padding: 0%;
//     margin: 0%;
//     box-sizing: border-box;
// }

.body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(45deg, #a767a3 50%, #d84974 50%);
}

.form-body{
    width: 25rem ;
    min-width: 24.25rem ;
    border-radius: 0.625rem ;
    border-top-left-radius: 3.125rem ;
    border-bottom-right-radius: 3.125rem ;
    border: solid 2px #3bb3d8;
    margin: 0.625rem;
}
.form-body img{
    width: 9.375rem;
    display: block;
    margin: 1.25rem  auto;
}
.text{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
    margin-bottom: 1.563rem ;
}
.form-body input {
    display: block ;
    margin: auto;
    height: 2.5rem ;
    width: 75%;
    padding-left: 0.625rem ;
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
    border-radius: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-top-left-radius: 0.625rem ;
    border-bottom-right-radius: 0.625rem ;
    font-size: 1rem ;
    outline: none ;
}
.form-body input[type="password"]{
    margin-top: 1.25rem ;
}
::placeholder{
    font-size:  1rem;
    color: rgba(243, 237, 241, 0.925);
}
.form-body input:hover{
    transition: .5s;
    border:  1px solid #408bd6;
    color: #8761da;
}
.form-body button{
    display: block;
    margin: auto;
    margin-top: 1.563rem ;
    margin-bottom: 1.875rem  ;
    height: 2.5rem ;
    width: 78%;
    background: transparent;
    color: #fff;
    border-radius: 2px;
    cursor: pointer ;
    border: 2px solid #e7dfe6 ;
    outline: none ;

    transition: all .5s ease;
} 
.form-body button:hover{
    color: #fff;
    border: 2px solid #408bd6;
    background: linear-gradient( #b309aa, #63a9f0);
}
